*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px; /*Tamaño general*/
    font-family: 'Roboto', sans-serif;
}
:root {
    /* COLORES */
    --colorTextoClaro: rgba(60, 60, 67, 0.6);
    --colorBlack: #000000;
    --colorBackground: #F2F2F7;
    --colorBlue: #007AFF;

    /*TAMAÑOS DE TEXTO*/
    --size17: 17px;
    --seze15: 15px;
}